<div class="left">
    <div>
      <div class="a">
        <img src="https://www.easyicon.net/download/png/1068661/100/">1-郭诗博
    </div>
    <div>
      <a><span class="count">0</span><span class="count">0</span></a>
    </div>
    <div class="c">粉丝&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关注</div>
    <div class="b">
        <p><img src="https://www.easyicon.net/download/png/1154827/15/"><a>任务</a></p>
        <p><img src="https://www.easyicon.net/download/png/1074319/15/"><a [routerLink]="['/join']">同步课</a></p>
        <p id="first"><img src="https://www.easyicon.net/download/png/1169810/15/"><a [routerLink]="['/courses']">课程</a></p>
        <p><img src="https://www.easyicon.net/download/png/1194804/15/"><a [routerLink]="['/qieshuo']">且说</a></p>
        <p><img src="https://www.easyicon.net/download/png/585789/15/"><a [routerLink]="['/tongzhi']">通知</a></p>
    </div>
</div>
<div class="right">  
    <ul>
      <li class="active" id="in"><a>正在学习</a></li>
      <li class="active"><a>我关注的</a></li>
      <li class="active"><a>我看过的</a></li>
    </ul> 
    <div class="bottom">
        <div>
            <ul>
                <li *ngFor="let i of course">
                    <img src="{{i.images}}">{{i.courseName}}
                    <p></p>
                        <a class="one">课时{{i.task}}</a>
                        <a class="two">人数{{i.person}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

                            
                        
        
        
    