*{
    margin-top: 30px;
}
.b p{
    font-size: 20px;
    margin-left: 10px;
    width: 180px;
    margin-top: -15px;
}
#first a{
    color: orange;
}
.left{
    margin-left: 120px;
    float: left;
}
.b p img{
    width: 15px;
    height: 15px;
}
.b{
    margin-left: -20px;
    margin-top: 10px;
}
.e{
    width: 100%;
    padding-top: 100%;
    display: block;
    position: relative;
}
.a{
    background-color: lightgrey;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 20px;
}
.a img{
    margin: 25px;
}
.count{
    font-size: 40px;
    margin: 25px;
}
.c{
    margin: -10px;
    margin-left: 20px;
}
li a{
    color:black;
}
.right{
    float: right;
    margin-top:-450px;
    margin-left: 200px;
}
.active{
    float: left;
    font-size: 20px;
}
.right ul li{
    margin-left: 15px;
}
input{
    width: 200px;
    height: 30px;
}
h3{
    padding:300px;
    font-family: 'Courier New', Courier, monospace;
}
#in{
    color: orange;
}
.bottom li {
    width: 181px;
    float: left;
    border: 1px solid #ccc;
    cursor: pointer;
}
.bottom img {
    width: 180px;
    height: 108px;
}
