<div class="left">
        <div>
          <div class="a">
            <img src="https://www.easyicon.net/download/png/1068661/100/">1-郭诗博
        </div>
        <div>
          <a><span class="count">0</span><span class="count">0</span></a>
        </div>
        <div class="c">粉丝&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关注</div>
        <div class="b">
            <p id="first"><img src="https://www.easyicon.net/download/png/1154827/15/"><a>任务</a></p>
            <p><img src="https://www.easyicon.net/download/png/1074319/15/"><a [routerLink]="['/join']">同步课</a></p>
            <p><img src="https://www.easyicon.net/download/png/1169810/15/"><a [routerLink]="['/courses']">课程</a></p>
            <p><img src="https://www.easyicon.net/download/png/1194804/15/"><a [routerLink]="['/qieshuo']">且说</a></p>
            <p><img src="https://www.easyicon.net/download/png/585789/15/"><a [routerLink]="['/tongzhi']">通知</a></p>
        </div>
    </div>
    <div class="right">  
        <ul>
          <li class="active"><a><img src="assets/images/3.png">未提交</a></li>
          <li class="active"><a><img src="assets/images/2.png">已完成</a></li>
          <li class="active"><a><img src="assets/images/2.png">已完结</a></li>
          <li class="active" id="in">
            <input type="search" placeholder="输入同步课名称搜索">
            <input type="submit" class="t" value="">
          </li>
        </ul> 
        <div>
            <div><h3>您当前的同步课任务已全部完成~</h3></div>
        </div>
    </div>
    
                                
                            
            
            
        