page-set {
    ion-title{
        margin-right: 50px !important;
    }
    ion-content{
        background-color: #eee !important;
    }
    button{
        margin-top: 5px !important;
    }
    img{
        height: 20px;
    }
    .only{
        margin-top: 30px !important;
    }
}
