page-contact {
    ion-content{
        background-color: rgb(255,219,44) !important;
    }
    p{
        font-size: 16px;
        text-align: center !important;
        color:rgb(144, 135, 135);
    }
    h4{
        text-align: center;

    }
}
